<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AnimalTypeConfig" value="cat" />

    <!--程序集名称+“,”+ 类型的名称（加命名空间前缀），这样如果要添加其他的类，若在同一个类库下可直接添加，
    若不在可直接把dll复制到主项目bin目录内,如下-->
    <!--<add key="AnimalTypeReflect" value="ClassLibrary,ClassLibrary.简单工厂.Dog"/>-->
    <add key="AnimalTypeReflect" value="OOP.DesignerPattern.FactoryPattern,OOP.DesignerPattern.FactoryPattern.Pig" />
 
  </appSettings>
</configuration>