@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="#" onclick="createIndexMutiThread()" class="btn btn-primary btn-lg">多线程生成索引</a>
        <a href="#" onclick="createIndex()" class="btn btn-primary btn-lg">生成索引</a>
        &nbsp;&nbsp;<a href="#" onclick="searchJob()" class="btn btn-primary btn-lg">搜索</a>
    </p>
    <table>
        <tr>
            <td>标题</td>
            <td colspan="2"><input type="text" name="Title" id="Title" value="" /></td>
        </tr>
        <tr>
            <td>Id</td>
            <td><input type="number" name="MinId" id="MinId" value="" /></td>
            <td><input type="number" name="MaxId" id="MaxId" value="" /></td>
        </tr>
        <tr>
            <td>地址</td>
            <td colspan="2"><input type="text" name="FullAddress" id="FullAddress" value="" /></td>
        </tr>
    </table>
</div>
<div id="jobDiv">

</div>
<script>
    function createIndex() {
        $.post("/Home/CreateIndex", function (re) {
            if (re == 1) {
                alert("已成功生产索引");
            }
            else {
                alert("错误");
            }
        })
    }
      function createIndexMutiThread() {
          $.post("/Home/CreateIndexMutiThread", {"taskCount":10}, function (re) {
            if (re == 1) {
                alert("已成功生产索引");
            }
            else {
                alert("错误");
            }
        })
    }
    function searchJob() {
        var MinId = 0;
        var MaxId = 0;
        if ($("#MinId").val() != "") {
            MinId = $("#MinId").val();
        }
        if ($("#MaxId").val() != "") {
            MaxId = $("#MaxId").val();
        }
        var data = {
            "Title": $("#Title").val(),
            "MinId": MinId,
            "MaxId": MaxId,
            "FullAddress": $("#FullAddress").val()
        };
        $.post("/Home/SearchResult", data, function (re) {
            $("#jobDiv").html(re);
        })
    }
</script>