@*@model ErrorViewModel*@

@using Microsoft.Extensions.Logging
@inject ILogger<CoreFilterStudy.Controllers.HomeController> _logger;

@*在页面使用inject进行依赖注入*@
@{
    ViewData["Title"] = "Error";

    Exception ex = ViewData["Exception"] as Exception;

    _logger.LogError("在页面里面依赖注入，记录日志");

}

<h2>@ex.Message</h2>
