@{
    ViewData["Title"] = "Home Page";
}
@using Wcs.Models
@model List<StudentModel>
<style>
    .text-center table {
        width: 500px;
        margin: auto;
    }

        .text-center table th {
            text-align: center;
            padding:20px;
        }

        .text-center table td {
            text-align: center;
             padding:20px;
        }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>
        学生信息(@ViewBag.Url):
    </h2>
    <table>
        @if (Model != null && Model.Count > 0)
        {
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>学校</th>
            </tr>
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.SchoolName</td>
                </tr>

            }
        }
    </table>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
